.title10 {
  font-size: 10px;
  letter-spacing: 0.2px;
  line-height: 15px;
}

.title12 {
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: 18px;
}

.title16 {
  font-size: 16px;
  letter-spacing: 0.32px;
}

.title18 {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.36px;
}

.title20 {
  font-size: 20px;
  font-weight: 500;
}

.title24 {
  font-size: 24px;
  font-weight: 500;
}

.title28 {
  font-size: 28px;
  font-weight: 500;
}

.title32 {
  font-size: 32px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0.64px;
}

.title40 {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0.8px;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.discount {
  text-decoration-line: line-through;
}

.up {
  text-transform: uppercase;
}

.purple {
  color: var(--color-purple);
}

.black {
  color: var(--color-black);
}

.brown {
  color: var(--color-brown);
}

.white {
  color: var(--color-white);
}

.gray {
  color: var(--color-gray);
}

.width50 {
  width: 50%;
}

.width33 {
  width: 33%;
}

.width25 {
  width: 25%;
}

.buttonPurple {
  cursor: pointer;
  display: inline-flex;
  padding: 18px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--color-purple);
}

.buttonWhite {
  cursor: pointer;
  width: 110px;
  height: 36px;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.buttonTransparent {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 227px;
  height: 64px;
  background: rgba(255, 255, 255, 0.5);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/*  */

.swiper {
  width: 100%;
  height: 690px;
  overflow: hidden;
}

.popular_swiper {
  width: 100%;
  height: 480px;
  overflow: hidden;
  /* position: relative; */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
}

.popular_items_slider{
  display: flex;
  gap: 30px;
}

.swiper_popular_slide {
  
  width: 270px;
}

.swiper-pagination-bullet {
  background: var(--color-white);
  opacity: 1;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  border: 2px solid var(--color-purple);
  width: 13px;
  height: 13px;
}

.slider_left {
  background: center/cover no-repeat;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 0 235px;
  gap: 20px;
}

.slider_left__inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  height: 220px;
}

.sliderTitle {
  text-transform: uppercase;
  width: 370px;
  /* color: var(--color-black); */
}

.slider_right{
  width: auto;
  height: 640px;
  align-self: flex-end;
}

.slider_right img {
  width: 100%;
  height: 100%;
}
/*  */

.headerSection,
.main_logo,
.header_links,
.header_right,
.basket {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main_logo {

}

.main_logo img {
  width: 140px;
}

.headerSection {
  justify-content: space-between;
  padding: 0px 135px;
  align-items: center;
  height: 90px;
}

.header_links {
  gap: 30px;
}

.header_links a {
  border-top: solid 2px var(--color-transparent);
  border-bottom: solid 2px var(--color-transparent);
  padding: 6px 0;
}

.header_links a:hover {
  border-bottom: solid 2px var(--color-brown);
}

.header_right {
  gap: 75px;
}

.sliderBlock {
  display: flex;
}

.basket {
  gap: 12px;
}

.footerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  background-color: var(--color-light-gray);
  padding: 20px 150px;
  /* margin-top: 120px; */
}

.footer_copiryte {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_links {
  display: flex;
  gap: 30px;
}

.footer_logo {
  width: 180px;
  height: 30px;
  flex-shrink: 0;
  align-self: flex-end;
  cursor: pointer;
}

.footer_logo2 {
  width: 120px;
  height: 50px;
  flex-shrink: 0;
  align-self: flex-end;
  cursor: pointer;
}

.footer_logo img, .footer_logo2 img {
  width: 100%;
}

.catalog_item {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.catalog_item:hover .catalogButtonTransparent {
  display: flex;
}

.catalog_small_img,
.catalog_medium_img,
.catalog_big_img,
.popular_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog_small_img,
.catalog_medium_img,
.catalog_big_img {
  width: 100%;
  /* width: 370px; */
  height: var(--height395);
}

.popular_img {
  width: 270px;
  height: var(--height310);
}

.catalog_small_img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.catalog_item:hover .catalog_small_img:before {
  opacity: 1;
}

.catalog_small_img img,
.catalog_medium_img img,
.catalog_big_img img,
.popular_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.catalog_big_img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 27.18%,
    rgba(0, 0, 0, 0) 63.53%
  );
}

.catalogButton {
  position: absolute;
  left: 16px;
  bottom: 24px;
}

.catalogButtonTransparent {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mainSection {
  margin: 80px 0;
  padding: 0 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBlock {
  width: var(--width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.catalogBlock {
  display: flex;
  width: var(--width-block);
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.catalog_left {
  position: absolute;
  left: 100px;
  top: 125px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catalog_left a {
  margin-top: 30px;
}

.catalog_ref {
  padding: 8px 0;
  border-bottom: solid 2px var(--color-white);
  display: inline-block;
  width: fit-content;
}

.catalog_ref div {
  width: 100%;
}

.catalog_ref div:hover {
  color: var(--color-purple);
}

.catalog_ref:hover {
  border-bottom: solid 2px var(--color-purple);
}

/* .catalog_ref:hover .title18 {
  color: var(--color-purple);








}







 */

.catalog_ref:hover .sliderTitle {
  color: var(--color-purple);
}

.popularSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 135px;
  position: relative;
}

.popularBlock {
  width: var(--width-block);
}

.popular_item {
  height: var(--height480);
}

.popularButtonTransparent {
  opacity: 0;
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.popular_img:hover .popularButtonTransparent {
  opacity: 1;
}

.popularButtonTransparent .buttonTransparent {
  width: 270px;
  transition: all 0.3s ease-in-out;
}

.popularButtonTransparent .buttonTransparent:hover {
  /* background: rgba(106, 27, 154, 0.3); */
  background: rgba(138, 119, 83, 0.30);
  color: var(--color-white);
}

.description {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 270px;
}

.price {
  display: flex;
  align-items: center;
  gap: 16px;
}

.popularTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin-bottom: 60px;
}

.categorySection {
  display: flex;
  flex-direction: row;
  margin: 80px 0;
  padding: 0 135px;
  gap: 80px;
}

.leftNavMenu {
  display: flex;
  flex-direction: column;
  width: 220px;
}

/*  */

.dropbtn {
  cursor: pointer;
  padding: 12px 0;
}

.dropdown-content.show {
  display: flex;
}

.dropdown-content {
  display: none;
  flex-direction: column;
}

.dropdown-content a {
  padding: 12px 0;
}

.dropdown-content a:hover {
  padding: 12px 0;
  color: var(--color-purple);
}

.other-elements {
  transition: margin-top 0.3s ease;
}

.container {
  position: relative;
}

.itemsSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.itemsBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.itemSection {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
  padding: 0 135px;
  gap: 80px;
}

.itemBlock {
  display: flex;
  gap: 30px;
}

.itemSmall_imgs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item_img,
.item_small_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item_img {
  width: 469px;
  height: 596px;
}

.item_small_img {
  width: 69px;
  height: 69px;
}

.item_img img,
.item_small_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.itemButtons {
  display: flex;
  gap: 16px;
}

.itemButton {
  border-radius: 10px;
  border: 1px solid var(--color-purple);
  width: 190px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.itemButton:hover {
  background: var(--color-purple);
  color: var(--color-white);
}

.itemColors {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemColor {
  display: flex;
  gap: 16px;
}

.itemColorButton {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 1px 1px #000;
  /* border: solid 1px var(--color-white); */
}

.itemColorButton.active-color {
  box-shadow: none;
  border: solid 2px var(--color-white);
}

.itemColorButton.active-color::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 9px solid var(--color-purple);
  border-radius: 50%;
  z-index: -1;
}

.sizeButton {
  border-radius: 20px;
  border: 1px solid var(--color-purple);
  width: 69px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.sizeButton:hover,
.activeSizeButton {
  background: var(--color-brown3);
  /* color: var(--color-white); */
}

.itemTags {
  display: flex;
  gap: 8px;
}

.itemTagButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 24px;
  border-radius: 5px;
  background: rgba(236, 239, 241, 0.72);
  border: solid 1px #cfd8dc;
  font-size: 12px;
  color: var(--color-blue-gray);
  text-align: center;
  padding: 6px 6px 8px 6px;
}

.itemDescription {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 900px;
}

.itemDescriptionTabContent {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.itemDescriptionTab {
  display: none;
  flex-direction: column;
  gap: 32px;
}

.itemDescriptionTab.active {
  display: flex;
}

.tabs {
  display: flex;
  gap: 32px;
}

.tabs a {
  color: var(--color-blue-gray);
}

.tabs a.active {
  color: var(--color-black);
}

.basketSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 80px;
}

.basketBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: var(--width-block);
}

.basketDescriptionBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.basketDescription {
  display: flex;
  gap: 60px;
}

.basketButtonCancel {
  justify-self: flex-end;
}

.basketContent {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-blue-gray);
  border-radius: 6px;
}

.basketContentItemTop {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 30px;
  gap: 30px;
  /* border-top: solid 1px var(--color-blue-gray); */
  border-bottom: solid 1px var(--color-blue-gray);
  /* justify-content: space-between; */
}
.basketContentItem {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 30px;
  gap: 30px;
  /* border-top: solid 1px var(--color-blue-gray); */
  border-bottom: solid 1px var(--color-blue-gray);
  /* justify-content: space-between; */
}

.basketContentItem:last-child {
  border-bottom: none;
}

.basketContentItemImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  /* border-radius: 50%; */
  overflow: hidden;
  /* cursor: pointer; */
  /* margin-right: 30px; */
}

.basketContentItemImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.basketContentItemDescription {
  display: flex;
  width: calc(100% - 110px);
  justify-content: space-between;
  align-items: center;
}

.basketContentItemDescriptionTitle {
  width: 300px;
}

.basketContentItemCount {
  display: flex;
  align-items: center;
  gap: 8px;
}

.basketContentItemCountDecrease {
  cursor: pointer;
  margin-right: 4px;
}

.basketContentItemCountIncrease {
  cursor: pointer;
  padding-top: 8px;
  padding-right: 8px;
}

.basketPriceBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.basketPriceButtons {
  display: flex;
  margin-left: 80px;
}

.basketPriceButton {
  border-radius: 10px;
  border: 1px solid var(--color-purple);
  width: 190px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background: var(--color-purple);
  transition: all 0.3s ease-in-out;
}

.basketPriceButton:hover {
  background: rgba(255, 255, 255, 0.5);
  color: var(--color-purple);
}

.square {
  width: 8px;
  height: 8px;
  background: var(--color-purple);
}

.aboutSection {
  display: flex;
  flex-direction: column;
}

.aboutTitle {
  padding-left: 135px;
}

.aboutBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 32px; */
  /* width: var(--width-block); */
}

.aboutBlockText {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 45px 135px;
  /* width: 600px; */
}

.aboutBlockText .row {
  align-items: center;
  /* width: 560px; */
  gap: 8px;
}

.aboutImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 635px;
  height: 380px;
  overflow: hidden;
}

.aboutImage_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 535px;
  height: 684px;
  overflow: hidden;
}

.aboutImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.aboutImage_2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.formBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  width: 970px;
  border: solid 1px var(--color-purple);
  border-radius: 5px;
  padding: 50px;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.formBlock form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.formBlock_inputs {
  display: flex;
  width: 100%;
  gap: 42px;
}

.formBlockInputSmall {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: solid 1px var(--color-blue-gray);
  margin-top: 24px;
}

.formBlockInputSmall {
  transition: border-color 0.3s ease;
}

.formBlockInputSmall:focus {
  border-bottom: solid 1px var(--color-purple);
}
.formBlockInputSmall.filled {
  border-bottom: solid 1px var(--color-purple);
}

.formBlockInputSmall.error {
  border: solid 1px var(--color-red) !important;
  border-radius: 2px;
}

.formBlock_inputs label {
  width: 100%;
}

.formBlockInputSmall {
}

.formBlockInputBig {
  border: solid 1px var(--color-blue-gray);
  resize: none;
  border-radius: 5px;
  margin-top: 24px;
  outline: none;
}

.formBlockInputBig:focus {
  border: solid 1px var(--color-purple);
}
.formBlockInputBig.filled {
  border: solid 1px var(--color-purple);
}

.formBlock label {
  margin-right: 10px;
  margin-bottom: 10px;
}

.basket_inputs {
  flex-wrap: wrap;
}
.basket_inputs label{
  width: 380px;
}


/* ----------------- */

.hiddenBlocks{
  display: none;
  flex-direction: column;
  gap: 10px;
}
.hiddenBlocks input {
  border: 1px solid #000;
  width: 100px;
}

.basketContentItemDelete{
  cursor: pointer;
}